.container
{
    display: flex;
    flex-wrap: nowrap;
}
.item
{
    background-color: chartreuse;
    height: 50px;
    width: 100px;
    margin: 30px;
    text-align: center;
    
}
@media (max-width:500px)
{
    .item {
        background-color: red;
        margin: 10px;
    }
    
    .container
    {
        flex-wrap: wrap; 
    }
    .box4
    {
        flex-grow: 4;
    }

}